<div class="row">
     <div class="col-md-10 offset-md-1">
          <%= form_for @order, html: { class: "form-horizontal" }  do |f| %>
               <h1 class="page-header">
                    <%= button_tag(type: 'Submit', class: "btn btn-primary btn-lg pull-right", style: "border-radius: 40px;") do %>
                         <i class="fa fa-upload"></i>
                         Update Order
                    <% end %> 
                    Edit Order
               </h1>
               <div class="ibox-content p-xl" style="margin-top: 30px;">
                         
                    <div class="row">
                         <div class="col-lg-12">
                              <div class="col-sm-6" style="display: none;">
                                   <div id="supplier_info">
                                        <%= render 'supplier_choose' %>
                                   </div>
                                   <%= f.hidden_field :vendor_id, id: "supplier_id" %>
                              </div>

                              <div class="col-sm-6 text-right">
                                   <div class="form-group row m-b-15">
                                        <label style="font-size: 13px;" class="col-sm-3 col-form-label">Invoice No.</label>
                                        <h3 class="text-info"><%= @order.invoice_number %></h3>
                                   </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                   <div class="form-group row m-b-15">
                                        <label style="font-size: 13px;" class="col-sm-2 col-form-label">Offices</label>
                                        <div class="col-sm-10">
                                             <%= collection_select(:order, :office_ids, 
                                                  Office.order(:name),:id,:name, 
                                                  {:prompt=>true},
                                                  {id: "select-offices", class: "select-offices form-control", style: "width: 100%;", multiple: true, required: ""}) 
                                             %>
                                        </div>
                                   </div>
                                   
                              </div>

                              <%= f.hidden_field :vendor_id, id: "supplier_id" %>

                         </div>
                         <div class="col-lg-12">
                              <div class="ibox " style="margin-left: -20px; margin-right: -20px; margin-bottom: 0; ">
                                   <div class="ibox-content" style="background-color: #929ba1!important;">
                                        <%= link_to_add_association 'Add New Product', f, :order_products, class: "btn btn-outline btn-default btn-sm pull-right", data: {
                                             association_insertion_node: "#order_products", association_insertion_method: :append
                                        } %>
                                        <h3 class="m-b-xxs" style="color: #fff; font-size: 20px; font-weight: 500;">Products</h3>

                                   </div>
                              </div>
                              <div class="ibox" style="margin-left: -20px; margin-right: -20px; background-color: #ecf0f3;">
                                   <div class="ibox-content">
                                        <div class="project-list">
                                             <table id="order_products" class="table table-hover">
                                                    <thead>
                                                        <td>Product</td>
                                                        <td>VC Code</td>
                                                        <td>MFG Code</td>
                                                    </thead>
                                                    <tbody>
                                                        <%= f.fields_for :order_products do |ff| %>
                                                                <%= render 'order_product_fields', f: ff %>
                                                        <% end %>
                                                    </tbody>
                                                </table>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="col-lg-12">
                              <div class="ibox " style="margin-left: -20px; margin-right: -20px; margin-bottom: 0; ">
                                   <div class="ibox-content" style="background-color: #929ba1!important;">
                                        <h3 class="m-b-xxs" style="color: #fff; font-size: 20px; font-weight: 500;">Notes</h3>
                                   </div>
                              </div>
                              <div class="ibox" style="margin-left: -20px; margin-right: -20px; margin-bottom: 0; background-color: #ecf0f3;">
                                   <div class="ibox-content">
                                        <%= f.text_area :notes, 'data-provider': :summernote %>
                                   </div>
                              </div>
                         </div>
                    </div>
                             
               </div>
          <% end %>
     </div>
</div>
<script type="text/javascript">
     var ready = function() {
          //calculateTotal();
          //setPreviewIDs();
          
          $('#select-offices').select2({
               placeholder: "Please choose offices"
          });

          $(".select2-products").select2({
                placeholder: "Please choose product..."
            });

            $('#order_products').on('cocoon:after-insert', function() {
                $(".select2-products").select2({
                    placeholder: "Please choose product..."
                });

                $('.select2-products').on('select2:select', function (e) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var product_id = $('#order_order_products_attributes_' + numberID + '_product_id').val();

                    getProductInfo(product_id, null, null).then(function(data) {
                        const product = data['product'];
                        const { vc_code, mfg_code } = JSON.parse(product);
                        console.log(product)
                        
                        document.getElementById("order_order_products_attributes_" + numberID + "_vc_code").value = vc_code
                        document.getElementById("order_order_products_attributes_" + numberID + "_mfg_code").value = mfg_code
                    }, cannotFindProduct);
                });

                $(".vc_code").on("blur",function (event) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var vc_code = $('#order_order_products_attributes_' + numberID + '_vc_code').val();

                    if (vc_code) {
                        getProductInfo(null, vc_code, null).then(function(data) {
                            const product = data['product'];
                            const { id, name, mfg_code } = JSON.parse(product);

                            $("#order_order_products_attributes_" + numberID + "_product_id").val(id).trigger('change');
                            document.getElementById("order_order_products_attributes_" + numberID + "_mfg_code").value = mfg_code
                        }, cannotFindProduct);
                    }
                });

                $(".mfg_code").on("blur",function (event) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var mfg_code = $('#order_order_products_attributes_' + numberID + '_mfg_code').val();

                    if (mfg_code) {
                        getProductInfo(null, null, mfg_code).then(function(data) {
                            const product = data['product'];
                            const { id, name, vc_code } = JSON.parse(product);

                            $("#order_order_products_attributes_" + numberID + "_product_id").val(id).trigger('change');
                            document.getElementById("order_order_products_attributes_" + numberID + "_vc_code").value = vc_code
                        }, cannotFindProduct);
                    }
                });
            });

                var supplier_id = document.getElementById("supplier_id").value; 
                var numberID = '';
                

                const getProductInfo = (product_id, vc_code, mfg_code) => {
                    var get_url = '';
                    if (product_id) {
                        get_url = '/product_info/' + product_id;
                    } else if (vc_code) {
                        get_url = '/product_info_vc_code/' + vc_code;
                    } else if (mfg_code) {
                        get_url = '/product_mfg_code/' + mfg_code;
                    }
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: get_url,
                            type: 'GET',
                            success: resolve,
                            error: reject
                        });
                    });
                };

                const cannotFindProduct = response => {
                    $("#order_order_products_attributes_" + numberID + "_product_id").val(-1).trigger('change');
                    document.getElementById("order_order_products_attributes_" + numberID + "_vc_code").value = null
                    document.getElementById("order_order_products_attributes_" + numberID + "_mfg_code").value = null

                    swal({
                        type: response.status,
                        title: 'Error',
                        text: 'We cannot find the product.',
                        confirmButtonText: 'Ok',
                        confirmButtonColor: '#582D11',
                        confirmButtonClass: 'btn btn-brown text-uppercase',
                        buttonsStyling: false
                    });
                };

                $('.select2-products').on('select2:select', function (e) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var product_id = $('#order_order_products_attributes_' + numberID + '_product_id').val();

                    getProductInfo(product_id, null, null).then(function(data) {
                        const product = data['product'];
                        const { vc_code, mfg_code } = JSON.parse(product);
                        console.log(product)
                        
                        document.getElementById("order_order_products_attributes_" + numberID + "_vc_code").value = vc_code
                        document.getElementById("order_order_products_attributes_" + numberID + "_mfg_code").value = mfg_code
                    }, cannotFindProduct);
                });

                $(".vc_code").on("blur",function (event) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var vc_code = $('#order_order_products_attributes_' + numberID + '_vc_code').val();

                    if (vc_code) {
                        getProductInfo(null, vc_code, null).then(function(data) {
                            const product = data['product'];
                            const { id, name, mfg_code } = JSON.parse(product);

                            $("#order_order_products_attributes_" + numberID + "_product_id").val(id).trigger('change');
                            document.getElementById("order_order_products_attributes_" + numberID + "_mfg_code").value = mfg_code
                        }, cannotFindProduct);
                    }
                });

                $(".mfg_code").on("blur",function (event) {
                     numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var mfg_code = $('#order_order_products_attributes_' + numberID + '_mfg_code').val();

                    if (mfg_code) {
                        getProductInfo(null, null, mfg_code).then(function(data) {
                            const product = data['product'];
                            const { id, name, vc_code } = JSON.parse(product);

                            $("#order_order_products_attributes_" + numberID + "_product_id").val(id).trigger('change');
                            document.getElementById("order_order_products_attributes_" + numberID + "_vc_code").value = vc_code
                        }, cannotFindProduct);
                    }
                });


            

          $('.summernote').summernote();

          function parseCurrency( num ) {
               return parseFloat( num.toString().replace(  /[$,]/g, '' ) );
          }
          
          function calculateTotal() {
               var container = document.querySelector(".table");
               var amounts = container.querySelectorAll('.nested-fields:not([style*="display:none"]):not([style*="display: none"]) .netAmount');

               var total = 0;
               amounts.forEach(amount => {
                    total = total + parseCurrency(amount.value);
               });
               if (total) {
                    document.getElementById("totalAmount").innerText = "$" + total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
               } else {
                    console.log(total);
                    document.getElementById("totalAmount").innerText = "$0.00"
               }
          }

          function setPreviewIDs(){
               var container = document.querySelector(".table");
               var prvs = document.querySelectorAll('.nested-fields .imgData');
               console.log(prvs.length);
               prvs.forEach(prv => {
                    //var numberID = prv.id.split('order_order_attachments_attributes_')[1].match(/\d+/)[0];
                    //var elementID = "order_order_attachments_attributes_" + numberID
                    prv.setAttribute("class", "img" + numberID);
                    console.log(prv.id);
               });
          }

          $(document).on('cocoon:after-remove', '.content form', function(e) {
               calculateTotal();
          });

          $('#order_products').on('cocoon:after-insert', function(e, insertedItem) {
               $('.select-products').select2({
                    placeholder: "Please choose products"
               });

               // ALLOW ONLY NUMERIC AND DECIMAL
               $(".onlyNumeric").on("keypress keyup blur",function (event) {
                    $(this).val($(this).val().replace(/[^0-9\.]/g,''));
                    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                         event.preventDefault();
                    }
               });

               $(".onlyNumeric").on("blur",function (event) {
             
                         var numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                         var elementID = "order_order_products_attributes_" + numberID

                         var amount = document.getElementById(elementID + "_amount").value; 
                         var quantity = document.getElementById(elementID + "_quantity").value; 

                         if (amount || quantity) {
                              var total = amount * quantity;      
                              total = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");  
                              document.getElementById(elementID + "_net_amount").value = "$" + total;

                              calculateTotal();
                         } else {
                              document.getElementById(elementID + "_net_amount").value = "$0.00";
                         }

               });
          });

          $('#order_attachments').on('cocoon:after-insert', function(e, insertedItem) {
               // Multiple images preview in browser
               var imagesPreview = function(input, placeToInsertImagePreview) {

                    if (input.files) {
                         var filesAmount = input.files.length;
                         var fileTypes = ['jpg', 'jpeg', 'png'];

                         for (i = 0; i < filesAmount; i++) {
                              var reader = new FileReader();

                              var extension = input.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                              isSuccess = fileTypes.indexOf(extension) > -1;

                              if (isSuccess) {
                                   reader.onload = function(event) {
                                        $($.parseHTML('<img>')).attr('src', event.target.result).attr('style', 'height: 50px;').appendTo(placeToInsertImagePreview);
                                   }
                              } else {
                                   reader.onload = function(event) {
                                        $($.parseHTML('<img>')).attr('src', "<%= image_path 'default-product.png' %>").attr('style', 'height: 40px; border-radius: 5px;').appendTo(placeToInsertImagePreview);
                                   }
                              }

                              reader.readAsDataURL(input.files[i]);
                         }
                    }

               };

               $(".imgData").on("change",function (event) {

                    var numberID = $(this).attr('id').split('order_order_attachments_attributes_')[1].match(/\d+/)[0];
                    var elementID = "order_order_attachments_attributes_" + numberID

                    var imgPreview = document.getElementsByClassName("productPreview")[0];

                    if (imgPreview) {
                         imgPreview.setAttribute("class", "img" + numberID);
                         imagesPreview(this, imgPreview);
                    } else {
                         var imgPreview = document.getElementsByClassName("btn" + numberID)[0];
                         imagesPreview(this, imgPreview);
                    }
               });
          });

          $(".onlyNumeric").on("keypress keyup blur",function (event) {
               $(this).val($(this).val().replace(/[^0-9\.]/g,''));
               if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
               }
          });

          $(".onlyNumeric").on("blur",function (event) {
          
                    var numberID = $(this).attr('id').split('order_order_products_attributes_')[1].match(/\d+/)[0];
                    var elementID = "order_order_products_attributes_" + numberID

                    var amount = document.getElementById(elementID + "_amount").value; 
                    var quantity = document.getElementById(elementID + "_quantity").value; 

                    if (amount || quantity) {
                         var total = amount * quantity;      
                         total = total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");  
                         document.getElementById(elementID + "_net_amount").value = "$" + total;

                         calculateTotal();
                    } else {
                         document.getElementById(elementID + "_net_amount").value = "$0.00";
                    }

          });
     };

     $(document).on('turbolinks:load', ready); 

</script>